$heading-color: #000000;
$skills-card-description-color: #828282;
$nav-link-color:#828282;
$nav-active-link-color: #070707;
$text-color: #333333;
$section-background-color:#F6F6F6;
$tablet: 768px;
$desktop: 1024px;