@import "src/scss/variables";
@import "src/scss/mixins";
@import "src/scss/common";

.about {
  background-color: $section-background-color;
  padding-top: 81px;
  padding-bottom: 76px;

  &__inner {
    text-align: center;
  }

  &__heading {
    @include heading;
    margin-bottom: 30px;
  }

  &__content {
    @include text;
    text-align: center;
    margin: 0 auto;
    max-width: 485px;
  }

  &__text:not(:last-child) {
    padding-bottom: 50px;
  }
}

@import "src/scss/about/media";